body {
    background-color: #f0f8ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  

.signup-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  
  h2 {
    color: #008080;
  }
  
  form {
    display: flex;
    flex-direction:column;
    margin-top: 50px;
    justify-content: center;
  }

  form span {
    margin-bottom: 20px;
    margin-left: 30px;
  }
  form input {
    width: 200px;
    margin-right: 25px;
  }

  label {
    color: #008080;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  input {
    padding: 10px;
    border: 1px solid #b0e0e6;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #006666;
  }


  /*Partie Login*/
  .login-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .login-container form {
    
  }